.bg-img{
    background-image: url('../../../images//banner//9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

.btn-style{
    padding:10px 30px;
    /* width: 100%; */
    margin-bottom: 5px;
    /* margin: auto; */

}
.nav-img{
    margin: auto;
    border-radius: 50%;
    width: 50%;
}