.about-para-style {
    color: #101F46;
}

.icon-bg-style {
    background-color: '#0791BE';
    width: '25%';
}

.icon-style {
    font-size: 1.5rem;
}

/*   rm -rf node_modules/ */
.icon-bg {
    background-color: #0791BE;
    width: 20%;
    margin: auto;
    height: 60px;
}

.icon-size {
    font-size: 1.5rem;
    color: white;

}

/* about us background images property */
.about-bg-img {
    background-image: url('../../images//place/hill.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
